@import 'vars';

button {
	text-decoration: none;
  background-color: transparent;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}

button:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}

